@import url(https://fonts.googleapis.com/css?family=Open+Sans);
html {
    height: 100%;
    font-size: 16px;
    background: #c4c0c0b7;
}

body {
    font-family: sans-serif;
    margin: 0;
    padding: 1rem 1rem;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 1rem;
    line-height: 1;
    color: #141414;
}

main {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

section {
    display: flex;
    width: 60%;
    flex-direction: column;
}

.header__heading, .header__subheading {
    margin: 10px;
}

.jobs-search {
    display: flex;
    position: relative;
    width: 40%;
    text-align: center;
    margin: 20px;
}

.jobs-search__input {
    width: 100%;
    height: 30px;
    padding: 5px;
    border-right: none;
    border-radius: 5px 0 0 5px;
    border: 3px solid #25245a;
    outline: none;
}

.jobs-search__input:focus {
    color: white;
}

.jobs-search__button {
    width: 40px;
    height: auto;
    border: 1px solid #25245a;
    background: #25245a;
    color: #fff;
    text-align: center;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 20px;
}

.results-list {
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 10px;
}

.results-list__item {
    background: #25245a;
    border-radius: 5px;
    padding: 15px;
    margin: 10px;
}

.row h2, p, .tag-block {
    color: white;
    margin: 10px;
}

.tag-block {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.tag-block span {
    background: rgb(221, 96, 12);
    border: 1px solid rgb(221, 96, 12);
    border-radius: 5px;
    padding: 3px;
    margin: 5px 5px 0 0;
}

.learn-more-link {
    width: 50%;
    margin: 10px;
    text-decoration: none;
    color: #25245a;
    background: rgb(141, 174, 247);
    border: 1px solid rgb(141, 174, 247);
    border-radius: 5px;
    text-align: center;
    padding: 3px;
    top: 0;
    transition: top 0.1s ease-out;
    position: relative;
}

.learn-more-link:active {
    top: 1.5px;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
}

.first-column {
    display: flex;
    flex-direction: column;
    flex: 3;
    border-right: 1px solid white;
}

.second-column {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: space-between;
}

.filter-wrapper {
    width: 20%;
    display: flex;
    flex-direction: column;
}

.filter-content {
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 20px;
    background-color: #25245a;
    border-radius: 5px;
    color: white;
}

.filter-list {
    list-style-type: none;
    padding: 15px;
    margin: 10px;
}

.filter-item-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
}

#slider-range.ui-slider .ui-slider-handle {
    width: .8em;
    height: 1em;
    top: -.5em;
    background-color: #25245a;
    border: 2px solid #c5c5c5;
    outline: none;
}

#slider-range.ui-slider .ui-slider-handle:hover {
    background-color: rgb(221, 96, 12);
    border: 2px solid #c5c5c5;
}

#slider-range.ui-slider {
    width: 90%;
    height: .2em;
    margin: auto;
}

.price__range-value {
    margin-top: 10px;
    text-align: center;
}

.filter-tag {
    margin-left: 0;
    margin-top: 0;
    margin-bottom: 20px;
    font-weight: bold;
}

.checkbox-item {
    position: relative;
    margin-bottom: 3px;
}

input[type=checkbox] {
    visibility: hidden;
}

.geekmark {
    position: absolute;
    height: 13px;
    width: 13px;
    background-color: white;
    top: 0;
    left: 0;
    margin: 3px 3px 3px 4px;
}

label {
    margin-left: 2px;
}

.checkbox-item:hover input~.geekmark {
    background-color: rgb(221, 96, 12);
}

.checkbox-item input:checked~.geekmark {
    background-color: rgb(221, 96, 12);
}

.geekmark:after {
    content: "";
    position: absolute;
    display: none;
}

input:checked~.geekmark:after {
    display: block;
}

.checkbox-item .geekmark:after {
    left: 3px;
    bottom: 2px;
    width: 4px;
    height: 7px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    background-color: rgb(221, 96, 12);
}

.filter-item-group.reset-filter-wrapper {
    margin-bottom: 0px;
    color: rgb(221, 96, 12);
    font-weight: bold;
    cursor: pointer;
}

#resetBtn {
    border: 1px solid rgb(221, 96, 12);
    border-radius: 5px;
    background-color: rgb(221, 96, 12);
    color: white;
    font-weight: bold;
    padding: 3px;
    outline: none;
    letter-spacing: 1px;
    top: 0px;
    transition: top 0.1s ease-in-out;
    position: relative;
}

#resetBtn:hover {
    cursor: pointer;
}

#resetBtn:active {
    top: 1.5px;
}

.radio-item {
    position: relative;
    margin-bottom: 3px;
    
}

input[type=radio] {
    visibility: hidden;
}

.radio-geekmark {
    position: absolute;
    overflow: hidden;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background-color: white;
    top: 0;
    left: 0;
    margin: 3px 3px 3px 4px;
}

.radio-geekmark:after {
    content: "";
    position: absolute;
    display: none;
    
}



.radio-item:hover input~.radio-geekmark {
    background-color: rgb(221, 96, 12);
}

.radio-item input[type=radio]:checked~.radio-geekmark {
    background-color: rgb(221, 96, 12);
    align-items: center;
    justify-content: center;
    display: flex;
    
}

input[type=radio]:checked~.radio-geekmark:after {
    display: flex;
}

.radio-item .radio-geekmark:after {
    left: 2.8px;
    width: 1px;
    height: 1px;
    border: solid 3px white;
    border-radius: 50%;
    background-color: white;
}
